{% load solo_tags i18n %}
{#% get_solo 'contacts.Contacts' as contacts %#}
<footer class="container">
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="{% url 'assignations' %}">{% trans "Assignations Database" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'developers' %}">{% trans "Developers Database" %}</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <p class="text-right">Site by <a href="http://vk.com/gbezyuk">Grigoriy Bezyuk</a></p>
    </div>
  </div>
</footer>
